body {

    background-image: url(/HTML/IMG/aerial-view-pine-trees-4k-forest-7sfd6znw2ry6hnlt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main {
    display: flex;
    justify-content: space-between;
  }

  .navlogo {
    color: orange;
    font-size: 50px;
    font-weight: bolder;
    padding-left: 10%;
  }

  .navbarcontent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbarcontent>a {
    text-decoration: none;
    display: block;
    padding: 15px 15px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;


  }

  .main1 {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    align-items: center;
    justify-content: space-arounds;
  }

  .body {
    padding-left: 10px;
    font-size: 50px;
    color: orange;

  }

  p {
    font-size: 30px;
  }

  .button {
    background-color: orange;
    width: 100px;
    height: auto;
    text-decoration: none;
    font-size: large;
    text-align: center;
    color: black;
    padding: 1%;
    border: 0px soild black;
    border-radius: 8px;

  }



  .searchbar {
    background-color: #00000000;
    height: 35%;
    border: 2px solid orange;
    padding-left: 10px;


  }

  .search {
    color: black;
    font-weight: bolder;
    display: flex;
    padding-top: 2%;
    padding-right: 60px;

  }

  ::placeholder {
    color: white;

  }

  .but {
    padding: 1%;
    width: 100%;
    height: 43%;
    background-color: orange;
    color: black;
    border: 2px solid orange;
  }

  .head {
    font-size: 50px;
  }

  .box {
    background-color: rgba(0, 0, 0, 0.781);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    margin-left: 250px;
  }

  .login {
    background-color: orange;
    color: white;
    font-weight: bolder;
    font-size:x-large;
    text-align: center;
    margin-top: 30px;
    width: 200px;
    padding: 5%;
    border-radius: 10px;
    



  }

  .text {
    color: aliceblue;
    text-align: center;
  }

  .with {
    color: white;
    text-align: center;
  }

  .sign {
    color: orangered;
  }
  .mail, .pass{
    margin-top: 15px;
    color: white;
    background-color: #00000000;
    border: 0px solid white;
    border-bottom: 2px solid orange;
  }
  .signupa{
    text-decoration: none;
    color: orange;
  }
  .signup{
    color: white;
  }
  .w{
    font-size: 70px;
  }
  .d{
    font-size: 60px;
  }
  .c{
    font-size: 50px;
  }
  .para{
    color: white;
  }
  input[type=submit]{
    background-color: orangered;
    margin-top: 5
    
    
    0px;
    width: 50%;
    padding: 2%;
    border: 0px;
    border-radius: 8px;
  }